@import "variables";
@import "utilities";

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    background-color: rgba($color-yellow-1, .85);
    
    &__logo {
        height: auto;
        width: 65%;
    }
}
