@import "variables";
@import "utilities";

.header {
    width: 100%;
    height: 10rem;
    background-color: $color-yellow-1;
 
    &__box-logo {
        position: relative;
        transform: all;
    }

    &__logo-name{
        position: absolute;
        top: 0;
        right: 0;
        transform: translateY(-13px) translateX(5px) scale(.6);
    } 

    &__experience{
        background-color: $color-blue-2;
    }
}
