@import "variables";
 
.container{
    height: 100vh;
    max-width: 100rem;
    margin: 6rem auto 0;
    background-color: $color-white; 
}

.main-part{
    display: flex;
}

.text-box{
    
    &__about {
        flex: 1 0 45%;
        padding: 0 2rem 0 2rem;
        background-image: linear-gradient(rgba(#fff, .85), rgba(#fff, .85)), url(../img/bg-about.png);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    &__experience {
        flex: 1 0 70%;
        padding-left: 2rem;
        background-image: linear-gradient(rgba(#fff, .85), rgba(#fff, .85)), url(../img/bg-experience.png);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: top;
    }
 
    &__contact {
        flex: 1 0 70%;
        padding-left: 2rem;
        background-image: linear-gradient(rgba(#fff, .85), rgba(#fff, .85)), url(../img/bg-contact.png);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    &__reply{
        flex: 1 0 70%;
        padding: 5rem 4rem;
        background-image: linear-gradient(rgba(#fff, .85), rgba(#fff, .85)), url(../img/reply.png);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: right;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}
   
.gallery {
    flex: 0 0 27%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
   
    img {
        width: auto;
        height: 37rem; 
    } 
}

    
            





