@import "variables";
@import "utilities";
 
.container{
    height: 100vh;
    max-width: 100rem;
    margin: 6rem auto 0;
    background-color: $color-white; 
}

.main-part{
    display: flex;
}

.text-box{
    flex: 1 0 50%;
    background-color: $color-white; 
 
    &__contact {
        background-image: linear-gradient(rgba(#fff, .95), rgba(#fff, .95)), url(../img/mail.png);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: bottom;
    }
}
   
.gallery {
    flex: 0 0 23%;
    background-color: $color-white;  
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
   
    &__img {
        width: 18rem;
        height: 18rem; 
        transition: all .3s ease-in-out;
        filter: grayscale(100%);

        &:hover {
            transform: scale(1.01);
            filter: grayscale(0);   
        }
    } 
}

    
            





