@import "variables";
@import "utilities";
 
.container{
    height: 100vh;
    max-width: 100rem;
    margin: 6rem auto 0;
    background-color: $color-white; 
}

.main-part{
    display: flex;
}

.text-box{
    flex: 1 0 50%;
    background-color: $color-white; 
    &__about {
        background-image: linear-gradient(rgba(#fff, .85), rgba(#fff, .85)), url(../img/bg-about.png);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: right;
    }

    &__experience {
        background-image: linear-gradient(rgba(#fff, .85), rgba(#fff, .85)), url(../img/bg-experience.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: top;
    }
 
    &__contact {
        background-image: linear-gradient(rgba(#fff, .85), rgba(#fff, .85)), url(../img/bg-contact.png);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: right;
    }
    &__reply{
        padding: 5rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}
   
.gallery {
    flex: 0 0 23%;
    background-color: $color-white;  
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
   
    &__img {
        width: 18rem;
        height: 18rem; 
        transition: all .3s ease-in-out;

        &:hover {
            transform: scale(1.09);
        }
    } 
}

    
            





