
@import "variables";



.menu-bar{
    background-color: $color-white;   
    border: 1px solid $color-grey-light-2;
    flex: 0 0 20%;
  
    
}

.main-bar {
    font-size: 2rem;
   
    list-style: none;
    margin-top: 7rem;
    margin-bottom: 7rem;
    text-align: center;
  
    &__item{
       position: relative;
       padding: 2rem 0;
       &:not(:last-child){
            margin-bottom: 1.5rem;
       }
       cursor: pointer;
    }

    &__item::before {
        content: "";
        background-color: $color-yellow-1;
        width: 3px;
        position: absolute;
        transform: scaleY(0);
        transition: transform .2s, width .3s cubic-bezier(1,0,0,1) .2s;
        box-shadow: 0 .2rem .3rem rgba($color-black, .1);
        border-radius: 1px;
    }

    &__item-1::before, 
    &__item-3::before {
        height: 100%;
        top: 0;
        right: -2px;
    }

    &__item-2::before {  
        height: 100%;     
        top: 0;
        left: -2px;  
    }

  
    &__item:hover::before{
        transform: scaleY(1);
        width: 101.5%; 
    }

    &__link {
        &:link,
        &:visited{
            
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 1px;
            color: $color-black-1;
            position: relative;
            z-index: 10; 

        }



       


        
    }
    
    
    

    
}