@import "variables";


.right-part{

    background-color: #FFF;
    justify-content: flex-start;
  
    .content {
        display: flex;
        height: 100%;
    }

    &__text-box{
        flex: 0 0 70%;
        padding: 0rem 3rem 0rem 3rem;
        background-color: $color-white; 
        width: 71rem;
    }
   

    &__gallery{
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $color-white;       

        &__img {
            &:not(:last-of-type) {
                margin-bottom: 8rem;
            }
            width: 13rem;
            height: 13rem;
            border-radius: 1px;
            outline: 2px solid $color-yellow-1;
            outline-offset: 20px;
            cursor: pointer;
            transition: all .2s ease-out;
            

            &:hover {
                outline-offset: 0;
                transform: scale(1.3);
            }

            // &:hover {
            //     ~ img {
            //         outline-offset: 20px;
            //         transform: scale(.8);
            //     }
            // }
            
        }
        &:hover &__img:not(:hover){
            outline-offset: none;
            outline: none;
            transform: scale(.8);
            
        }

    }
            

}



