@import "variables";
@import "utilities";

.heading-primary{
    font-size: 3rem;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color-black-1;
    padding: 2px 0;
    background-color: $color-yellow-1;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .12); 
}

.paragraph {
    font-size: 1.6rem;
    &:not(:last-child){
        margin-bottom: 2rem;
    }
    text-align: justify;
}

.contact-text{
    & > * {
        margin: 5rem;
    }
    font-size: 2.8rem;
    font-weight: 100;
    text-align: center;
}

