@import "variables";
@import "utilities";

.heading-primary{
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1px;
    color: $color-black-1;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .12); 
    
    &__experience {
        text-align: center;
    }
}

.paragraph {
    font-size: 1.6rem;
    &:not(:last-child){
        margin-bottom: 2rem;
    }
    text-align: justify;
}

h2{
    font-size: 1.5rem;
    font-weight: 100;
    text-transform: uppercase;   
    letter-spacing: .5px;
    color: #fff;
}

.reply {
    &__greeting{
        font-size: 2.5rem;
    }
    &__body,
    &__signature {
        font-size: 2rem;
    }
}