$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$color-black-1:#191919;
$color-black-2: #1a1a1a;

$color-blue-1: #46a6e4;
$color-blue-2: #6cc3fa;
$color-light: #f5bec4;
$color-violet-1: #7260d8;
$color-green-1: #64d840;

$color-yellow-1:#fadb4a;
$color-orange-1:  #FF7417;
$color-orange-2: #EF7215; 


$shadow: 0 .3rem .6rem rgba(0,0,0,.1);


