<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  href="assets/css/style.css" />
    <title>MP</title>
</head>
<body>
    <div class="container">
        {{> header}}  
        <div class=main-part>
            {{> nav}}               
            {{> content}}
            <div class="gallery">
                <img src="assets/img/foto-1.jpg" alt="gilr in gelb" class="gallery__img">
                <img src="assets/img/foto-2.jpg" alt="gilr" class="gallery__img">
            </div>
        </div>
    </div>
</body>
</html>