<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  href="css/style.css" />
    <title>MP</title>
</head>
<body>
    <nav class="menu-box">
        <ul class="menu-box__list">
            <li class="menu-box__item menu-box__item--active">
                <a href="/"class="menu-box__link">
                    About
                </a>
            </li>
            <li class="menu-box__item">
                <a href="experience.html"class="menu-box__link">
                    Experience
                </a>
            </li>
            <li class="menu-box__item">
                <a href="contact.html"class="menu-box__link">
                    Get in touch
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>
