{{#> layout }}
    {{#*inline "content"}} 
        <div class="text-box text-box__about u-margin-left-medium">
            <h1 class="heading-primary heading-primary__about u-margin-bottom-medium">About:</h1>
            <p class="paragraph">
                My name is Mariia, I came from Russia, till 2015 I lived in Moscow, where I had graduated from Moscow State University of Geodesy and Cartography in 2007 and for about 8 years worked in a large company as an engineer.
            </p>
            <p class="paragraph">
                In the beginning of 2015 I moved to Germany, Berlin, where for 3 years I learned german language. As the result of my hard work in summer 2017 I successfully passed TELC C1 exam.
            </p>
            <p class="paragraph">
                In March 2018 I enroll at  HTW Berlin (Hochschule für Technik und Wirtschaft Berlin), where I study applied informatics.<br>
                I like travel, explore cities, culture and a new destination.<br>
                    дописать еще 2 строчки! дописать еще 2 строчки!дописать еще 2 строчки!дописать еще 2 строчки!дописать еще 2 строчки!
                    
            </p>
        </div>       
    {{/inline}}
{{/layout}}